body {
  margin: 0;
  background: #000;
  overflow-y: scroll;
}

/* container da webcomic */
#comic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* cada página */
.pagina {
  width: 100%;
  max-width: 700px;   /* 👈 CONTROLA A QUALIDADE NO PC */
  height: auto;
  display: block;
}
