/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUNDO */
body {
  background: #000;
  overflow-y: scroll;
}

/* CONTAINER DA WEBCOMIC */
#comic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PÁGINAS */
.pagina {
  width: 100%;
  max-width: 800px;   /* 👈 LIMITE REAL NO PC */
  height: auto;
  display: block;
}

.pagina-interativa {
  position: relative;
}

.pagina-interativa .fundo {
  width: 100%;
  display: block;
}
.cena {
  position: absolute;
  inset: 0;
}

.celular {
  position: absolute;
  width: 420px;
  top: 20%;     /* ajuste fino visual */
  left: 14%;
  animation: vibrar 0.1s infinite;
}

@keyframes vibrar {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(2px, -2px); }
  50%  { transform: translate(-2px, 2px); }
  75%  { transform: translate(2px, 2px); }
  100% { transform: translate(0, 0); }
}

.mao {
  position: absolute;
  width: 230px;
  top: 15%;
  left: 44%;
  transform: scale(0.7);
  transform-origin: right;
  transition: transform 0.8s ease;
  cursor: pointer;
}
